* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #2c3e50;
  line-height: 1.6;
}

.section-container {
  padding: 4rem 10%;
}

.bg-light {
  background-color: #f4f6f8;
}

.section-title {
  text-align: center;
  margin-bottom: 2.5rem;
  color: #0f0f0f;
}

.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #1abc9c;
  margin: 10px auto 0;
}

header {
  background-color: #2c3e50;
  color: #ffffff;
  padding: 1.2rem 10%;
  display: flex; /* Flexbox */
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #1abc9c;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.profile-img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-text {
  max-width: 500px;
}

.profile-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

.project-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.project-card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  border-top: 4px solid #ffffff;
}

.card-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.project-card h3 {
  margin-bottom: 1rem;
  color: #2c3e50;
}

.project-card p {
  font-size: 0.95rem;
  color: #555;
}


#kontak {
  text-align: center;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.contact-btn {
  display: inline-block;
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  color: #1abc9c;
  border-bottom: 2px solid #1abc9c;
}

footer {
  background-color: #2c3e50;
  color: #ffffff;
  text-align: left;
  padding: 1.5rem;
  font-size: 0.9rem;
}